			body {
				background-color: #fff;
				color: #000;
				font-size: 0.9em;
				font-family: sans-serif,helvetica;
				margin: 0;
				padding: 0;
			}
			:link {
				color: #c00;
			}
			:visited {
				color: #c00;
			}
			a:hover {
				color: #f50;
			}
			.titlebar h1 {
				text-align: left;
				margin: 0;
				padding: 0.6em 1em 0.4em;
				background-color: #22437f;
				color: #fff;
				font-weight: normal;
				font-size: 1.75em;
				border-bottom: 2px solid #444;
			}
			h1 strong {
				font-weight: bold;
			}
			h2 {
				font-size: 1.1em;
				font-weight: bold;
			}
			.oidc-data h2 {
				border-top: 2px solid #000;
                                padding-top: 0.25em;
			}
			.globus-data h2 {
				border-top: 2px solid #000;
                                padding-top: 0.25em;
			}
			hr {
				display: none;
			}
			.content {
				padding: 1em 5em;
			}
			.content-columns {
				/* Setting relative positioning allows for 
				absolute positioning for sub-classes */
				position: relative;
				padding-top: 1em;
			}
			.content-column-left {
				/* Value for IE/Win; will be overwritten for other browsers */
				width: 47%;
				padding-right: 3%;
				float: left;
				padding-bottom: 2em;
			}
			.content-column-left hr {
				display: none;
			}
			.content-column-right {
				/* Values for IE/Win; will be overwritten for other browsers */
				width: 47%;
				padding-left: 3%;
				float: left;
				padding-bottom: 2em;
			}
			.content-columns>.content-column-left, .content-columns>.content-column-right {
				/* Non-IE/Win */
			}
                        .status {
				background-color: #ddf;
				padding: 0.125em 0.5em;
				color: #000;
                        }
                        p.note {
				background-color: #ddf;
				padding: 0.125em 0.5em;
				color: #000;
                        }
                        p.data {
				background-color: #fed;
				padding: 0.125em 0.5em;
				color: #000;
                        }
                        b.data {
				background-color: #fed;
				color: #724805;
                        }
                        pre {
				background-color: #ddd;
                        }
			img {
				border: 2px solid #fff;
				padding: 2px;
				margin: 2px;
			}
			a:hover img {
				border: 2px solid #f50;
			}
			.footer {
				padding-top: 0em;
				border-top: 2px solid #444;
                                padding-left: 1em;
			}
